<style type="text/css">
    body,html{font-size: 25px}
    h1,h2,h3 {font-size:20px; font-family:"Gill Sans", Helvetica, Arial, "sans-serif"; color: #a4ffe6; text-align:center}
    p {color: #7ec6b2}
    a {color: #80919e; background-color: #d2dbc1; text-decoration: none;}
    a:hover{text-decoration: underline;}
</style>